<!DOCTYPE html>
{%extends 'app1/base.html'%}
{%block body_block%}
<div class="jumbotron">
    <div class="container">
    <h2>USER-ID AND PASSWORD</h2>
    <h3>The USER shall:</h3>
     <ul>
         <li>Keep the User-id and password totally confidential and not reveal them to any third party.</li>
         <li>Create a password of at least 8 characters long and shall consist of a mix of alphabets, numbers and special characters.<br> which must not relate to any readily accessible personal data such as the USER's name, address, date of birth, telephone number, vehicle number, driver license etc. or easily guessable combination of letters and / or numbers;</li>
         <li>Commit the User-id and password to memory and not record them in a written or electronic form;</li>
         <li>Not let any unauthorized person have access to his computer or leave the computer unattended<br>while using Internet Banking Services.</li>
         <li>Not disclose/reveal his/her personal or confidential information to anyone.<br> over email/SMS/phone call even if its purportedly from State Bank of India.<br> SBI or any of it’s representatives will never send you emails/SMS or call you over phone</li>
         <li>Not access OnlineSBI if his/her computer device is not free of malware (Viruses, Trojans, etc.).</li>
     </ul>
</div>
</div>
{%endblock%}